@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@utility container{
  max-width: 1200px;
  width : 90% ;
  margin : 0 auto;
}

@theme {
  --font-aldrich: "Aldrich", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --gradient: linear-gradient(to right, #ffc97d, #ffffff);
  --hover-gradient: linear-gradient(to right, #ffc97d1a, #ffffff1a);
}

@utility gradient-text {
  background-image: var(--gradient);
  background-clip: text;
  overflow: hidden;
  color: transparent;
}

.OutlineButton-gradient {
  background-image: var(--gradient);
  background-clip: text;
  overflow: hidden;
  color: transparent;
  border-image: var(--gradient);
  border-image-slice: 1;
  display: inline-block;
  &:hover {
    color: black;
    background-clip: border-box;
  }
}

.gradient-backgroung {
  background: var(--gradient);
}

@utility gradient-border {
  border: 1px solid transparent;
  border-image: var(--gradient);
  border-image-slice: 1;
  display: inline-block;
}
